:root {
    --main-bg-color: rgb(44, 146, 208);
    --main-bg-color-a: rgba(44, 146, 208, 0.8);
    --main-bg-color-a1: rgba(44, 146, 208, 0.28);
    --main-bg-color-a2: rgba(44, 146, 208 , 0.2);
    --main-bg-color-dark: rgba(0, 0, 0, 0.12);
    --main-bg-color-light: #fff;
    --main-bg-image: #2c92d0;
    --main-bg-image2: #00acc1;
    --main-bg-image-dark: #D2D2D2;
    --main-bg-image-dark2: #D2D2D2;
}
